{% extends 'partials/base.html' %}
{% load static %}
{% load i18n %}
{% block meta_header %}
    <title>{% trans 'Rebound' %}</title>
    <meta property="og:title"
          content="{% trans 'Rebound' %}" />
    <meta name="og:description"
          content="{% trans 'Rebound' %}">
    <meta property="og:url" content="{% url 'core:index' %}" />
    <meta property="og:image"
          content="https://storage.googleapis.com/prod-sg-vio-public-storage/web/home.jpg" />
{% endblock meta_header %}
{% block content %}
<!-- Start Main Slides Area -->
<div class="home-slides owl-carousel owl-theme">
    <div class="main-slides-item">
        <div class="container">
            <div class="main-slides-content">
                <span class="sub-title">
                    <i class="flaticon-hashtag-symbol"></i>
                    Keeping Teeth Clean
                </span>
                <h1>Personalized <br /><span>Rebound Treatment</span></h1>
                <p>Experience exceptional chiropractic care and rehabilitation services at Rebound SportsMed in Kent!</p>
                
                <div class="slides-btn">
                    <a href="appointment.html" class="default-btn">Book Appointment</a>

                    <div class="checkup-content">
                        <div class="icon">
                            <i class="flaticon-chair"></i>
                        </div>
                        <span><a href="contact-us.html">Get Free Checkup</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-slides-item item-bg2">
        <div class="container">
            <div class="main-slides-content">
                <span class="sub-title">
                    <i class="flaticon-hashtag-symbol"></i>
                    Keeping Teeth Clean
                </span>
                <h1>Exceptional Care for <span>Women</span></h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                
                <div class="slides-btn">
                    <a href="appointment.html" class="default-btn">Book Appointment</a>

                    <div class="checkup-content">
                        <div class="icon">
                            <i class="flaticon-chair"></i>
                        </div>
                        <span><a href="contact-us.html">Get Free Checkup</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-slides-item item-bg3">
        <div class="container">
            <div class="main-slides-content">
                <span class="sub-title">
                    <i class="flaticon-hashtag-symbol"></i>
                    Keeping Teeth Clean
                </span>
                <h1>Your Health is Our Top <span>Priority</span></h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                
                <div class="slides-btn">
                    <a href="appointment.html" class="default-btn">Book Appointment</a>

                    <div class="checkup-content">
                        <div class="icon">
                            <i class="flaticon-chair"></i>
                        </div>
                        <span><a href="contact-us.html">Get Free Checkup</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Main Slides Area -->

<!-- Start Features Area -->
<section class="features-area pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-features">
                    <div class="content">
                        <div class="icon">
                            <i class="flaticon-doctor"></i>
                        </div>
                        <h3>
                            <a href="services-details.html">Expert Problem-Solver</a>
                        </h3>
                        <p>With 30+ years of experience, I specialize in detecting the root causes of pain and problem.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-features bg-f57e57">
                    <div class="content">
                        <div class="icon">
                            <i class="flaticon-chair"></i>
                        </div>
                        <h3>
                            <a href="services-details.html">Personalized Solutions</a>
                        </h3>
                        <p>We don't just treat symptoms; we uncover the real issues and create a plan to resolve them.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                <div class="single-features bg-4a6577">
                    <div class="content">
                        <div class="icon">
                            <i class="flaticon-healthcare"></i>
                        </div>
                        <h3>
                            <a href="services-details.html">Proven Approach</a>
                        </h3>
                        <p>If you can't test it, you can't fix it</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Features Area -->

<!-- Start Services Area -->
<section class="services-area pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="section-title-warp">
                    <span class="sub-title" id="our_services">
                        <i class="flaticon-hashtag-symbol"></i>
                        Our Best Services
                    </span>
                    <h2>Enjoy Specialized Care Through Precision, Artistry, and Experience</h2>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="section-warp-btn">
                    <a href="services.html" class="default-btn">View All</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="services-image">
                        <a href="services-details.html"><img src="{% static 'assets/images/services/services-1.jpg' %}" alt="image"></a>

                        <div class="icon">
                            <a href="services-details.html"><i class="flaticon-chair"></i></a>
                        </div>
                    </div>

                    <div class="services-content">
                        <h3>
                            <a href="services-details.html">Body Work</a>
                        </h3>
                        <p>We address muscles, joints, and connective tissue to ensure everything functions together, not just the spine.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="services-image">
                        <a href="services-details.html"><img src="{% static 'assets/images/services/services-2.jpg' %}" alt="image"></a>

                        <div class="icon">
                            <a href="services-details.html"><i class="flaticon-dental-care"></i></a>
                        </div>
                    </div>

                    <div class="services-content">
                        <h3>
                            <a href="services-details.html">Functional & Performance Assessments</a>
                        </h3>
                        <p>Establishing a baseline to help you move and perform at your best.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="services-image">
                        <a href="services-details.html"><img src="{% static 'assets/images/services/services-3.jpg' %}" alt="image"></a>

                        <div class="icon">
                            <a href="services-details.html"><i class="flaticon-dental-implant"></i></a>
                        </div>
                    </div>

                    <div class="services-content">
                        <h3>
                            <a href="services-details.html">Motorized Deep Stretch Traction</a>
                        </h3>
                        <p>A decompressive therapy to counteract postural stress and restore mobility.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="services-image">
                        <a href="services-details.html"><img src="{% static 'assets/images/services/services-4.jpg' %}" alt="image"></a>

                        <div class="icon">
                            <a href="services-details.html"><i class="flaticon-tooth"></i></a>
                        </div>
                    </div>

                    <div class="services-content">
                        <h3>
                            <a href="services-details.html">Physical Rehabilitation & Therapeutic Mobility</a>
                        </h3>
                        <p>Identifying weaknesses and restoring strength, stability, and range of motion.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="services-image">
                        <a href="services-details.html"><img src="{% static 'assets/images/services/services-5.jpg' %}" alt="image"></a>

                        <div class="icon">
                            <a href="services-details.html"><i class="flaticon-tooth-1"></i></a>
                        </div>
                    </div>

                    <div class="services-content">
                        <h3>
                            <a href="services-details.html">Massage Therapy</a>
                        </h3>
                        <p>Licensed therapists providing targeted relief.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="services-image">
                        <a href="services-details.html"><img src="{% static 'assets/images/services/services-6.jpg' %}" alt="image"></a>

                        <div class="icon">
                            <a href="services-details.html"><i class="flaticon-tooth-2"></i></a>
                        </div>
                    </div>

                    <div class="services-content">
                        <h3>
                            <a href="services-details.html">Acupuncture</a>
                        </h3>
                        <p>On-site treatments to promote healing and balance.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Area -->

<!-- Start Overview Area -->
{% comment %} <section class="overview-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="overview-content">
                    <span class="sub-title">
                        <i class="flaticon-hashtag-symbol"></i>
                        We Care For Every Patient
                    </span>
                    <h3>Nervous Troubled Attractive Staring Right Anxiously!</h3>
                    <p>Contact Us Today <a href="tel:088123654987">+088 123 654 987</a></p>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="overview-image">
                    <img src="{% static 'assets/images/overview.png' %}" alt="image">
                </div>
            </div>
        </div>
    </div>
</section> {% endcomment %}
<!-- End Overview Area -->

<!-- Start Appointment Overview Area -->
<section class="appointment-overview-area pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-12">
                <div class="appointment-overview-contact">
                    <img src="{% static 'assets/images/appointment/appointment-1.jpg' %}" alt="image">
                    <div class="appointment-info">
                        <ul class="call-info">
                            <li>
                                <i class="flaticon-emergency-call"></i>
                                <span class="fs-3">Call<br>Today</span>
                                <span><a href="tel:2538548880">253.854.8880</a></span>
                            </li>
                        </ul>
                        <p>Feel Better - Move Better</p>
                        <a href="javascript:void(0)" class="default-btn">Contact Us</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="appointment-overview-box">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="content">
                                <h4>Don’t wait to feel better – schedule your visit now!</h4>
                                
                                <div class="box-image">
                                    <img src="{% static 'assets/images/appointment/appointment-2.jpg' %}" alt="image">

                                    <a href="https://www.youtube.com/watch?v=Buhosl-jJGA" class="video-btn popup-youtube">
                                        <i class='bx bx-play'></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="make-appointment-content">
                                <h4><i class="flaticon-calendar"></i> Make An Appointment</h4>

                                <form>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Name">
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Email">
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Phone">
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Leave your message">
                                    </div>
    
                                    <button type="submit" class="default-btn">Book Appointment</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Appointment Overview Area -->

<!-- Start OC FAQ Area -->
<div class="oc-faq-area pb-100">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-12">
                <div class="oc-faq-image" style="background-image: url('{% static "assets/images/orthopedic-care/faq.jpg" %}')"></div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="oc-faq-accordion">
                    <h2>YOUR QUESTIONS ANSWERED EXPLORE OUR FAQS</h2>

                    <div class="accordion">
                        <div class="accordion-item">
                            <div class="accordion-title active">
                                <i class='bx bx-plus'></i>
                                Insurances Accepted
                            </div>
                            <div class="accordion-content show">
                                <p>We gladly accept a wide range of insurance plans, including Premera, Aetna, Cigna, Regence, UHC, Kaiser, Auto Insurance, and more. For those without insurance or concerned about high costs, we offer affordable options to ensure access to our services.<br>
                                Don’t have insurance, don’t worry! Rebound has a wellness plan. Please reach out to get more information</p>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-title">
                                <i class='bx bx-plus'></i>
                                How do I know if I need joint replacement surgery?
                            </div>
                            <div class="accordion-content">
                                <p>At this office, we strive to create better movement by freeing up your joints, discs, and supporting tissues. We are also skilled and experienced in helping patients recover from car accidents and traumatic brain injuries, including concussions and more.</p>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-title">
                                <i class='bx bx-plus'></i>
                                How long is the recovery period after orthopedic surgery?
                            </div>
                            <div class="accordion-content">
                                <p>The answer is always the same for everyone: it depends.<br>
                                It depends on how much has happened in the past, how much has happened recently, and what you continue to do to either keep irritating your symptoms or start to try to relieve and correct what is wrong.</p>
                            </div>
                        </div>
                        {% comment %} <div class="accordion-item">
                            <div class="accordion-title">
                                <i class='bx bx-plus'></i>
                                How long is the recovery period after orthopedic surgery?
                            </div>
                            <div class="accordion-content">
                                <p>Orthopedic specialists treat a wide range of conditions including joint pain, fractures, arthritis, sports injuries, and spinal disorders.</p>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-title">
                                <i class='bx bx-plus'></i>
                                Are non-surgical treatments available for orthopedic conditions?
                            </div>
                            <div class="accordion-content">
                                <p>Orthopedic specialists treat a wide range of conditions including joint pain, fractures, arthritis, sports injuries, and spinal disorders.</p>
                            </div>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About Area -->

<!-- Start Review Area -->
<section class="review-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="section-title-warp">
                    <span class="sub-title">
                        <i class="flaticon-hashtag-symbol"></i>
                        Our Clients Review
                    </span>
                    <h2>Real Review From Our Real Customer</h2>
                </div>
            </div>

            <div class="col-lg-7">
                <div class="section-warp-btn">
                    <a href="testimonials.html" class="default-btn">View All</a>
                </div>
            </div>
        </div>

        <div class="review-slides owl-carousel owl-theme">
            <div class="single-review-item">
                <div class="icon">
                    <i class="flaticon-left-quote"></i>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                <div class="review-info">
                    <img src="{% static 'assets/images/review/review-1.jpg' %}" alt="image">
                    <h3>Dr. Sarah Taylor</h3>
                    <span>Nephrologists</span>
                </div>
            </div>

            <div class="single-review-item">
                <div class="icon">
                    <i class="flaticon-left-quote"></i>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                <div class="review-info">
                    <img src="{% static 'assets/images/review/review-2.jpg' %}" alt="image">
                    <h3>Dr. Aiken Ward</h3>
                    <span>Endocrinologists</span>
                </div>
            </div>

            <div class="single-review-item">
                <div class="icon">
                    <i class="flaticon-left-quote"></i>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                <div class="review-info">
                    <img src="{% static 'assets/images/review/review-3.jpg' %}" alt="image">
                    <h3>Dr. Eachann Jhon</h3>
                    <span>Cardiologists</span>
                </div>
            </div>

            <div class="single-review-item">
                <div class="icon">
                    <i class="flaticon-left-quote"></i>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                <div class="review-info">
                    <img src="{% static 'assets/images/review/review-1.jpg' %}" alt="image">
                    <h3>Dr. Sarah Taylor</h3>
                    <span>Nephrologists</span>
                </div>
            </div>

            <div class="single-review-item">
                <div class="icon">
                    <i class="flaticon-left-quote"></i>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                <div class="review-info">
                    <img src="{% static 'assets/images/review/review-2.jpg' %}" alt="image">
                    <h3>Dr. Aiken Ward</h3>
                    <span>Endocrinologists</span>
                </div>
            </div>

            <div class="single-review-item">
                <div class="icon">
                    <i class="flaticon-left-quote"></i>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                <div class="review-info">
                    <img src="{% static 'assets/images/review/review-3.jpg' %}" alt="image">
                    <h3>Dr. Eachann Jhon</h3>
                    <span>Cardiologists</span>
                </div>
            </div>

            <div class="single-review-item">
                <div class="icon">
                    <i class="flaticon-left-quote"></i>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                <div class="review-info">
                    <img src="{% static 'assets/images/review/review-1.jpg' %}" alt="image">
                    <h3>Dr. Sarah Taylor</h3>
                    <span>Nephrologists</span>
                </div>
            </div>

            <div class="single-review-item">
                <div class="icon">
                    <i class="flaticon-left-quote"></i>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                <div class="review-info">
                    <img src="{% static 'assets/images/review/review-2.jpg' %}" alt="image">
                    <h3>Dr. Aiken Ward</h3>
                    <span>Endocrinologists</span>
                </div>
            </div>

            <div class="single-review-item">
                <div class="icon">
                    <i class="flaticon-left-quote"></i>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                <div class="review-info">
                    <img src="{% static 'assets/images/review/review-3.jpg' %}" alt="image">
                    <h3>Dr. Eachann Jhon</h3>
                    <span>Cardiologists</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Review Area -->

<!-- Start Blog Area -->
<section class="blog-area pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="section-title-warp">
                    <span class="sub-title" id="blog">
                        <i class="flaticon-hashtag-symbol"></i>
                        Update News and Blogs
                    </span>
                    <h2>Stay Updated with Our Latest News and Blog</h2>
                </div>
            </div>

            <div class="col-lg-7">
                <div class="section-warp-btn">
                    <a href="blog.html" class="default-btn">View All</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="blog-image">
                        <a href="blog-details.html"><img src="{% static 'assets/images/blog/blog-1.jpg' %}" alt="image"></a>

                        <div class="tag">10 Mar</div>
                        <div class="tag-two"><a href="blog.html">Technology</a></div>
                    </div>
                    <div class="blog-content">
                        <h3>
                            <a href="blog-details.html">New Technology Make for Dental Operation</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod.</p>
                        <a href="blog-details.html" class="blog-btn">Read More</a>

                        <ul class="entry-meta">
                            <li>
                                <i class='bx bxs-user'></i>
                                <span>By <a href="blog-right-sidebar.html">Daisy Gabriela</a></span>
                            </li>
                            <li>
                                <i class='bx bxs-comment'></i>
                                2 Comments
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="blog-image">
                        <a href="blog-details.html"><img src="{% static 'assets/images/blog/blog-2.jpg' %}" alt="image"></a>

                        <div class="tag">11 Mar</div>
                        <div class="tag-two"><a href="blog.html">Dental</a></div>
                    </div>
                    <div class="blog-content">
                        <h3>
                            <a href="blog-details.html">Regular Dental care make Your Smile Brighter</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod.</p>
                        <a href="blog-details.html" class="blog-btn">Read More</a>
                        
                        <ul class="entry-meta">
                            <li>
                                <i class='bx bxs-user'></i>
                                <span>By <a href="blog-right-sidebar.html">Ronnie Aaron</a></span>
                            </li>
                            <li>
                                <i class='bx bxs-comment'></i>
                                2 Comments
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                <div class="single-blog">
                    <div class="blog-image">
                        <a href="blog-details.html"><img src="{% static 'assets/images/blog/blog-3.jpg' %}" alt="image"></a>

                        <div class="tag">12 Mar</div>
                        <div class="tag-two"><a href="blog.html">Hygiene</a></div>
                    </div>
                    <div class="blog-content">
                        <h3>
                            <a href="blog-details.html">Dental Hygiene for All Age to Make Smile</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod.</p>
                        <a href="blog-details.html" class="blog-btn">Read More</a>
                        
                        <ul class="entry-meta">
                            <li>
                                <i class='bx bxs-user'></i>
                                <span>By <a href="blog-right-sidebar.html">Babatunde Jon</a></span>
                            </li>
                            <li>
                                <i class='bx bxs-comment'></i>
                                2 Comments
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Blog Area -->
{% endblock content %}