{% extends 'partials/base.html' %}
{% load static %}
{% load i18n %}
{% block meta_header %}
    <title>Chiropractic Care & Injury Rehabilitation in Kent, WA - Rebound Sports Medicine</title>
    <meta property="og:title"
          content="Chiropractic Care & Injury Rehabilitation in Kent, WA - Rebound Sports Medicine" />
    <meta name="og:description"
          content="Rebound Sports Medicine in Kent, WA provides expert chiropractic care and rehabilitation for sports injuries, auto accidents, and more. Dr. Gary Blackburn and his team focus on improving your overall wellness through personalized care. Whether you’re recovering from an injury or seeking pain r">
    <meta property="og:url" content="{% url 'core:index' %}" />
    <meta property="og:image"
          content="http://static1.squarespace.com/static/63370133e12a533239738459/t/6712b9273bd4956abe798247/1729280295185/Rebound+Master+Logo.png?format=1500w" />
{% endblock meta_header %}
{% block content %}
<!-- Start Main Slides Area -->
<div class="home-slides owl-carousel owl-theme">
    <div class="main-slides-item">
        <div class="container">
            <div class="main-slides-content">
                <h1>Personalized <br /><span>Rebound Treatment</span></h1>
                <p>Experience exceptional chiropractic care and rehabilitation services at Rebound SportsMed in Kent!</p>
                
                <div class="slides-btn">
                    <a href="#contact_us" class="default-btn">Book Appointment</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Main Slides Area -->

<!-- Start Features Area -->
<section class="features-area pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-features">
                    <div class="content">
                        <h3>
                            <a href="javascript:void(0)">Expert Problem-Solver</a>
                        </h3>
                        <p>With 30+ years of experience, I specialize in detecting the root causes of pain and problem.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-features bg-f57e57">
                    <div class="content">
                        <h3>
                            <a href="javascript:void(0)">Personalized Solutions</a>
                        </h3>
                        <p>We don't just treat symptoms; we uncover the real issues and create a plan to resolve them.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                <div class="single-features bg-4a6577">
                    <div class="content">
                        <h3>
                            <a href="javascript:void(0)">Proven Approach</a>
                        </h3>
                        <p>If you can't test it, you can't fix it</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Features Area -->

<!-- Start Services Area -->
<section class="services-area pb-70" id="our_services">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="section-title-warp">
                    <span class="sub-title">
                        Our Best Services
                    </span>
                    <h2>Enjoy Specialized Care Through Precision, Artistry, and Experience</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="services-image">
                        <a href="javascript:void(0)"><img src="{% static 'assets/images/services/services-1.jpg' %}" alt="image"></a>

                    </div>

                    <div class="services-content">
                        <h3>
                            <a href="javascript:void(0)">Body Work - Joints, Muscle, and Connective Tissue</a>
                        </h3>
                        <p>We have over 600 muscles and 200 bones they really are inter-dependent on each other.  to say that differently - everything is connected to the everything. We go beyond just popping the joints.  We want everything connected to the Spine to work optimally also meaning all the muscles tendons ligaments cartilage and fascia.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="services-image">
                        <a href="javascript:void(0)"><img src="{% static 'assets/images/services/services-2.jpg' %}" alt="image"></a>

                    </div>

                    <div class="services-content">
                        <h3>
                            <a href="javascript:void(0)">Functional and Performance Assessments</a>
                        </h3>
                        <p>We use the decades of research and experience in trying to establish a baseline. Meaning – what are you really supposed to be able to do? We will use a best practice approach to getting you to be as good as you can get.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="services-image">
                        <a href="javascript:void(0)"><img src="{% static 'assets/images/services/services-3.jpg' %}" alt="image"></a>

                    </div>

                    <div class="services-content">
                        <h3>
                            <a href="javascript:void(0)">Motorized Deep Stretch Traction</a>
                        </h3>
                        <p>Think of this is anti-gravity or decompressive therapy. Postural stress is 24 seven. We want to undo or unwind the effects of gravity as much as possible to restore full mobility and decompress the nerve holes and the discz.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="services-image">
                        <a href="javascript:void(0)"><img src="{% static 'assets/images/services/services-4.jpg' %}" alt="image"></a>

                    </div>

                    <div class="services-content">
                        <h3>
                            <a href="javascript:void(0)">Physical Rehabilitation</a>
                        </h3>
                        <p>This is the process of finding out what you can or can't do. We need to discover your weaknesses deficits and imbalances. Then we take all that into account and we chunk that into tolerable pieces to restore full range of motion stability strength and stamina.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="services-image">
                        <a href="javascript:void(0)"><img src="{% static 'assets/images/services/services-5.jpg' %}" alt="image"></a>

                    </div>

                    <div class="services-content">
                        <h3>
                            <a href="javascript:void(0)">Massage Therapy</a>
                        </h3>
                        <p>We have multiple license massage therapist on staff at this location</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="services-image">
                        <a href="javascript:void(0)"><img src="{% static 'assets/images/services/services-6.jpg' %}" alt="image"></a>

                    </div>

                    <div class="services-content">
                        <h3>
                            <a href="javascript:void(0)">Acupuncture</a>
                        </h3>
                        <p>We offer acupuncture services on site as well.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Area -->

<!-- Start Appointment Overview Area -->
<section class="appointment-overview-area pb-100" id="contact_us">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="section-title-warp">
                    <span class="sub-title">
                        Contact Us
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="appointment-overview-contact">
                    <img src="{% static 'assets/images/appointment/appointment-1.jpg' %}" alt="image">
                    <div class="appointment-info">
                        <ul class="call-info">
                            <li>
                                <span class="fs-3">Call Today</span>
                                <span><a href="tel:088123654987">253.854.8880</a></span>
                            </li>
                        </ul>
                        <p>Feel Better - Move Better</p>
                        <a href="javascript:void(0)" class="default-btn">Contact Us</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="appointment-overview-box">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="content">
                                <h4>If u have any ideas. Please let me know. I just recommend this.</h4>
                                
                                <div class="box-image">
                                    <img src="{% static 'assets/images/appointment/appointment-2.jpg' %}" alt="image">

                                    <a href="https://www.youtube.com/watch?v=Buhosl-jJGA" class="video-btn popup-youtube">
                                        <i class='bx bx-play'></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="make-appointment-content">
                                <h4>Make An Appointment</h4> 

                                <form>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Name">
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Email">
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Phone">
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Leave your message">
                                    </div>
    
                                    <button type="submit" class="default-btn">Book Appointment</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Appointment Overview Area -->

<!-- Start OC FAQ Area -->
<div class="oc-faq-area pb-100">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-12">
                <div class="oc-faq-image" style="background-image: url('{% static "assets/images/orthopedic-care/faq.jpg" %}')"></div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="oc-faq-accordion">
                    <h2>YOUR QUESTIONS ANSWERED EXPLORE OUR FAQS</h2>

                    <div class="accordion">
                        <div class="accordion-item">
                            <div class="accordion-title active">
                                <i class='bx bx-plus'></i>
                                What type of insurance do we accept ?
                            </div>
                            <div class="accordion-content show">
                                <p>We accept most insurances we can check your benefits with an easy phone call</p>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-title">
                                <i class='bx bx-plus'></i>
                                What can I expect on my first visit ?
                            </div>
                            <div class="accordion-content">
                                <p>Well after you complete all the paperwork with a complete medical history. We will go through the exam process. Which includes the movement analysis and a functional and orthopedic and neurological evaluation.</p>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-title">
                                <i class='bx bx-plus'></i>
                                How long will it take to get better?
                            </div>
                            <div class="accordion-content">
                                <p>Everybody is different and everybody's injury history is different so that will depend on the exam findings and we should be able to predict how long it will take to get some relief</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About Area -->

<!-- Start Doctor Area -->
<section class="about-area pb-100" id="our_doctors">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-content">
                    <span class="sub-title" id="our_doctors">
                        <i class="flaticon-hashtag-symbol"></i>
                        Our Doctor
                    </span>
                    <h3>Meet <span>Dr. Gary Blackburn, DC, FACFN</span></h3>
                    <p>At Rebound SportsMed, Dr. Gary Blackburn brings over 30 years of expertise in sports medicine, clinical neuroscience, and brain-based rehabilitation to help patients optimize their health, function, and performance.</p>

                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <ul class="about-list">
                                <li>
                                    <i class="flaticon-check"></i>
                                    Experienced & Specialized: <span style="color: #6a6c72">Over 25 years in sports medicine and clinical neuroscience.</span>
                                </li>
                                <li>
                                    <i class="flaticon-check"></i>
                                    Military-Trained: <span style="color: #6a6c72">Began concussion management and performance enhancement as an Army Medic in 1986.</span>
                                </li>
                                <li>
                                    <i class="flaticon-check"></i>
                                    Highly Educated: <span style="color: #6a6c72">3,000+ hours of advanced training with certifications in Clinical Neurosciences and Functional Neurology.</span>
                                </li>
                                <li>
                                    <i class="flaticon-check"></i>
                                    Elite Consultant: <span style="color: #6a6c72">Official Team Chiropractor for the Detroit Lions and consultant for the Detroit Tigers.</span>
                                </li>
                                <li>
                                    <i class="flaticon-check"></i>
                                    Olympic-Level Expertise: <span style="color: #6a6c72">Completed a sports medicine rotation with the U.S. Olympic Committee at the 2012 London Games.</span>
                                </li>
                                <li>
                                    <i class="flaticon-check"></i>
                                    Award-Winning Three-time <span style="color: #6a6c72">"Best of Kent" winner and three-time Seattle Met "Top Doc."</span>
                                </li>
                            </ul>

                            <a href="{% url 'core:dr-gary' %}" class="default-btn" style="margin-top: 30px; float: right; padding: 10px 20px;">See more</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="about-image">
                    <img src="{% static 'assets/images/about/about-1.png' %}" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Doctor Area -->

<!-- Start Review Area -->
<section class="review-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="section-title-warp">
                    <span class="sub-title">
                        <i class="flaticon-hashtag-symbol"></i>
                        Our Clients Review
                    </span>
                    <h2>Real Review From Our Real Customer</h2>
                </div>
            </div>

            <div class="col-lg-7">
                <div class="section-warp-btn">
                    <a target="_blank" href="https://538ef14eb72647fbba566f54f0f3da5f.elf.site/" class="default-btn">View All</a>
                </div>
            </div>
        </div>

        <div class="review-slides owl-carousel owl-theme">
            <div class="single-review-item">
                <div class="icon">
                    <i class="flaticon-left-quote"></i>
                </div>
                <p>Have recently started seeing Dr. Blackburn and I feel like a brand new person! My back hasn't felt this good in...I don't remember when. He really knows what he is doing! Great personality and overall great experience! So glad I was referred to him! Taking all my kids to see him now!</p>

                <div class="review-info">
                    <img src="https://lh3.googleusercontent.com/a/ACg8ocKlVbfta1bdRHItb6uIG_bp1h2lWa0Nt7DKDrRQ07jaQV_-9g=s120-c-rp-mo-br100" alt="image">
                    <h3>Jennifer barr</h3>
                    <span>From Google Review</span>
                </div>
            </div>

            <div class="single-review-item">
                <div class="icon">
                    <i class="flaticon-left-quote"></i>
                </div>
                <p>Dr. Blackburn and team are amazing. True healers. We highly recommend them to all.</p>

                <div class="review-info">
                    <img src="https://lh3.googleusercontent.com/a-/ALV-UjU0wDMBwG1ep1sg0PSx6Ywp5gvaW93K_6C7mgd5IW94wHjynrs=s120-c-rp-mo-br100" alt="image">
                    <h3>Dr. Griswold ShedLight</h3>
                    <span>From Google Review</span>
                </div>
            </div>

            <div class="single-review-item">
                <div class="icon">
                    <i class="flaticon-left-quote"></i>
                </div>
                <p>I started going to see Dr. Blackburn in September 2022. I have had painful plantar fasciitis off and on for 10 years. I’m a nurse and I spend 12+ hours on my feet, so everything I’ve tried (and I’ve tried everything there is) only worked temporarily until I met Dr. Blackburn...</p>

                <div class="review-info">
                    <img src="https://lh3.googleusercontent.com/a-/ALV-UjXoDa4FmD4fpp7U2Z1p2jfZI4PIL1inrF45k7L9Abd0YDwcyzWU1w=s120-c-rp-mo-br100" alt="image">
                    <h3>Sarah Day</h3>
                    <span>From Google Review</span>
                </div>
            </div>

            <div class="single-review-item">
                <div class="icon">
                    <i class="flaticon-left-quote"></i>
                </div>
                <p>My son was diagnosed with pectus carinatum, after years of the pediatrician saying his chest was normal, I finally I insisted on an x-ray which showed pectus carinatum and scoliosis. I took him to a few specialists with him being 17 there wasn’t much they could do, So basically there were no answers...</p>

                <div class="review-info">
                    <img src="https://lh3.googleusercontent.com/a/ACg8ocKAeBAk2_-MtmiLdO8-kclkLWBA9OE_QP0iFp6Gz-dhSMyTtwEd=s120-c-rp-mo-ba2-br100" alt="image">
                    <h3>Linnea Bragg</h3>
                    <span>From Google Review</span>
                </div>
            </div>

            <div class="single-review-item">
                <div class="icon">
                    <i class="flaticon-left-quote"></i>
                </div>
                <p>I have served in the military for 13 years and throughout much of that time I've dealt with chronic pain. I have done physical therapy, occupational therapy and chiropractic services more times than I can remember, always yielding little to no results...</p>

                <div class="review-info">
                    <img src="https://lh3.googleusercontent.com/a-/ALV-UjWYjQszLwb171lDeGcCQldr0EvfsdsnQyveo219ZK2cB7auUGU=s120-c-rp-mo-br100" alt="image">
                    <h3>Zachary Douglas</h3>
                    <span>From Google Review</span>
                </div>
            </div>

            <div class="single-review-item">
                <div class="icon">
                    <i class="flaticon-left-quote"></i>
                </div>
                <p>Great service everyone is great</p>

                <div class="review-info">
                    <img src="https://lh3.googleusercontent.com/a/ACg8ocI3GRst1l41Tl0Xok-5_14Y5l_lYKItvOiZBhe2mLhgdUhI9g=s120-c-rp-mo-ba4-br100" alt="image">
                    <h3>Gary “Gurdey” Gerde</h3>
                    <span>From Google Review</span>
                </div>
            </div>

            <div class="single-review-item">
                <div class="icon">
                    <i class="flaticon-left-quote"></i>
                </div>
                <p> got recommended to Dr. Mo awhile ago but driving to Kent was a bit out the ways for me. I finally got some time to drive down and it was WORTH every second on the road...</p>

                <div class="review-info">
                    <img src="https://lh3.googleusercontent.com/a-/ALV-UjWzCJbi9qRwC3C0H5vxTO8DKoiEufcgYLxhvVsBYQuuXr582XAJeg=s120-c-rp-mo-br100" alt="image">
                    <h3>Sabrina Kim</h3>
                    <span>From Google Review</span>
                </div>
            </div>

            <div class="single-review-item">
                <div class="icon">
                    <i class="flaticon-left-quote"></i>
                </div>
                <p>I highly recommend seeing Dr.Mo and Dr.Blackburn . They listen , and give the most professional care . Many years ago I had Harrington rods placed with fusions and bone grafting , I was told to never see a chiropractor,...</p>

                <div class="review-info">
                    <img src="https://lh3.googleusercontent.com/a-/ALV-UjWD_HVDxWLTvthGWdhiD_5IVowYqdnpNcKSaCae73p3-Yhy1o75=s120-c-rp-mo-br100" alt="image">
                    <h3>Francesca Fitzgerald</h3>
                    <span>From Google Review</span>
                </div>
            </div>

            <div class="single-review-item">
                <div class="icon">
                    <i class="flaticon-left-quote"></i>
                </div>
                <p>Dr. Mo is one of the top notch chiropractors I have come across. Was having stiffness in my back and neck due to work … his adjustment on the first try relieved all the built up tension around those areas. Super friendly and knowledgeable staff as well...</p>

                <div class="review-info">
                    <img src="https://lh3.googleusercontent.com/a/ACg8ocKwUuQBYfk97DeUmHFUv-R2O-uH8bMFLo66QbsjRjwZNZVQgw=s120-c-rp-mo-br100" alt="image">
                    <h3>kenney kim</h3>
                    <span>From Google Review</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Review Area -->

<!-- Start Blog Area -->
<section class="blog-area pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="section-title-warp">
                    <span class="sub-title" id="blog">
                        <i class="flaticon-hashtag-symbol"></i>
                        Update News and Blogs
                    </span>
                    <h2>Stay Updated with Our Latest News and Blog</h2>
                </div>
            </div>

            <div class="col-lg-7">
                <div class="section-warp-btn">
                    <a href="{% url 'core:blogs' %}" class="default-btn">View All</a>
                </div>
            </div>
        </div>

        <div class="row">
            {% for blog in blogs  %}
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog">
                        <div class="blog-image">
                            <a href="{% url 'core:blog-detail' blog.slug %}"><img src="{{ blog.image.url }}" alt="image"></a>

                            <div class="tag">{{ blog.created_at|date:"d M" }}</div>
                        </div>
                        <div class="blog-content">
                            <h3>
                                <a href="{% url 'core:blog-detail' blog.slug %}">{{ blog.title }}</a>
                            </h3>
                            <p>{{ blog.mini_description|truncatewords:30 }}</p>
                            <!-- <a href="{% url 'core:blog-detail' blog.slug %}" class="blog-btn">Read More</a> -->

                            <ul class="entry-meta">
                                <li>
                                    <i class='bx bxs-user'></i>
                                    <span>By Administrator</span>
                                </li>
                                <li style="float: right;">
                                    <a href="{% url 'core:blog-detail' blog.slug %}" class="blog-btn">Read More</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</section>
<!-- End Blog Area -->
{% endblock content %}